<ul class="cs-component-emails cs-input-list">
  {{#each this.values as |value index|}}
    <li class="cs-input-list--item" data-test-multi-item-list>
      <Email @value={{value}} @changeAction={{action "updateValue" index}} @label={{this.label}} />
      <button
        {{on "click" this.addComponent}}
        class="cs-input-list--add"
        data-test-multi-item-list-add-btn>
        Add
      </button>
    </li>
  {{/each}}
</ul>