.cs-dark-input-group {
  --cs-text-field-width: 260px;
  --cs-text-field-height: 40px;

  position: relative;
  display: block;
  width: 100%;
  max-width: var(--cs-text-field-width);
}

.cs-dark-input-group > .cs-input-group--label {
  display: block;
  padding-bottom: 7px;
  color: var(--cs-light-op60);
  font: 400 13px/18px var(--cs-font-family);
  letter-spacing: 0.035em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;

  transition: color var(--cs-transition-time);
}

.cs-dark-input-group > .cs-input-group--required {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  color: var(--cs-light-op60);
  font: 400 13px/18px var(--cs-font-family);
  letter-spacing: 0.035em;
  text-transform: lowercase;
}

.cs-dark-input-group > .cs-input-group--helper-text {
  height: 18px;
  display: block;
  padding-left: 10px;
  padding-top: 7px;
  color: var(--cs-light-op60);
  font: 400 11px/15px var(--cs-font-family);
  letter-spacing: 0.035em;
  text-transform: initial;

  transition: color var(--cs-transition-time);
}

.cs-dark-input-group > .cs-input-group--helper-text.error {
  color: var(--cs-alert);
}

.cs-dark-input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--cs-default);
  color: var(--cs-light);
  border: 1px solid transparent;
  border-radius: 5px;
  font: 400 13px/18px var(--cs-font-family);
  letter-spacing: 0.015em;

  transition: color var(--cs-transition-time),
              border-color var(--cs-transition-time),
              background-color var(--cs-transition-time);
}

.cs-dark-input.error {
  border-color: var(--cs-alert);
}

.cs-dark-input:hover {
  background-color: var(--cs-hover);
}

.cs-dark-input:focus {
  color: white;
  border-color: var(--cs-highlight);
  outline: 0;
}

input.cs-dark-input::placeholder {
  color: var(--cs-light-op50);
}

.cs-dark-input:disabled,
.cs-dark-input.disabled {
  background-color: var(--cs-disabled);
  color: var(--cs-light-op40);
  pointer-events: none;
}
