.cs-component-choose-one {
  --cs-component-choose-one-background: var(--cs-input-background);
  --cs-component-choose-one-copy: var(--cs-input-copy);
}

.cs-component-choose-one fieldset {
  border: none;
  padding: 0;
}

.cs-component-choose-one__container {
  display: inline-grid;
  grid-auto-flow: column;
  background-color: var(--cs-input-border);
  justify-content: start;
  grid-gap: 1px;
  align-items: center;
  border: solid 1px var(--cs-input-border);
}

.cs-component-choose-one--legend {
  font-size: var(--cs-input-legend-font-size);
  font-weight: 600;
  margin-bottom: 10px;
}

.cs-component-choose-one.checked .cs-component-choose-one--label:not(.checked) {
  --cs-component-choose-one-copy: var(--cs-input-copy-op60);
}

.cs-component-choose-one--label {
  width: 150px;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  align-self: center;
  background-color: var(--cs-component-choose-one-background);
  color: var(--cs-component-choose-one-copy);
  text-align: center;

  &:hover {
    --cs-component-choose-one-background: var(--cs-input-background-hover);
  }

  input[type="radio"] {
    display: none;
  }
}

.cs-component-choose-one--label.checked {
  --cs-component-choose-one-background: var(--cs-input-selected);
  --cs-component-choose-one-copy: white;

  .cs-component-choose-one--name:after {
    display: inline-block;
    position: absolute;
    top: 4px;
    content: ' ';
    width: 12px;
    height: 12px;
    margin-left: 5px;
    background-image: url("/images/icon-checked.svg");
    background-size: 12px 12px;
    background-repeat: no-repeat;
  }
}

.cs-component-choose-one--name {
  position: relative;
  font-size: 14px;
  line-height: 19px;
}