.cs-component-choose-one {
  @include cs-component-common-styles;

  --cs-choose-one-background: var(--cs-component-background-color);
  --cs-choose-one-copy: var(--cs-component-color);
}

.cs-component-choose-one fieldset {
  border: none;
  padding: 0;
}

.cs-component-choose-one__container {
  display: inline-grid;
  grid-auto-flow: column;
  background-color: var(--cs-choose-one-background);
  justify-content: start;
  grid-gap: 1px;
  align-items: center;
  border: 1px solid var(--cs-component-border-color);
}

.cs-component-choose-one--legend {
  font-size: var(--cs-component-legend-font-size);
  font-weight: 600;
  margin-bottom: 10px;
}

.cs-component-choose-one--label {
  width: 150px;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  align-self: center;
  background-color: var(--cs-choose-one-background);
  color: var(--cs-choose-one-copy);
  text-align: center;

  &:hover {
    --cs-choose-one-background: var(--cs-component-background-highlight-color);
  }

  input[type="radio"] {
    display: none;
  }
}

.cs-component-choose-one--label + .cs-component-choose-one--label {
  border-left: solid 1px var(--cs-component-border-color);
}

.cs-component-choose-one.checked .cs-component-choose-one--label:not(.checked) {
  --cs-choose-one-copy: rgba($dark-gray, 0.6);
}

.cs-component-choose-one--label.checked {
  --cs-choose-one-background: var(--cs-component-selected-color);
  --cs-choose-one-copy: white;

  .cs-component-choose-one--name:after {
    display: inline-block;
    position: absolute;
    top: 4px;
    content: ' ';
    width: 12px;
    height: 12px;
    margin-left: 5px;
    background-image: url('images/icon-checked.svg');
    background-size: 12px 12px;
    background-repeat: no-repeat;
  }
}

.cs-component-choose-one--name {
  position: relative;
  font-size: 14px;
  line-height: 19px;
}
