.cs-component-choose-one {
  display: inline-grid;
  grid-auto-flow: column;
  background-color: $dark-gray;
  justify-content: start;
  grid-gap: 1px;
  align-items: center;
  border: solid 1px $dark-gray;

}

.cs-component-choose-one.checked .cs-component-choose-one--label:not(.checked) {
  color: rgba($dark-gray, 0.6);
}

.cs-component-choose-one--label {
  width: 150px;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  align-self: center;
  background-color: $lighter-gray;
  color: $dark-gray;
  text-align: center;

  &:hover {
    background-color: $light-gray;
  }

  input[type="radio"] {
    display: none;
  }
}

.cs-component-choose-one--label.checked {
  background-color: $gray;
  color: white;

  .cs-component-choose-one--name:after {
    display: inline-block;
    position: absolute;
    top: 4px;
    content: ' ';
    width: 12px;
    height: 12px;
    margin-left: 5px;
    background-image: url("/@cardstack/ui-components/images/icon-checked.svg");
    background-size: 12px 12px;
    background-repeat: no-repeat;
  }
}

.cs-component-choose-one--name {
  position: relative;
  font-size: 14px;
  line-height: 19px;
}