.cs-component-choose-contact-type {
  width: 100%;
  font: var(--cs-font);
  letter-spacing: var(--cs-letter-spacing);
}
.cs-component-choose-contact-type .cs-component-choose-one__container {
  border: none;
  background: none;
}
.cs-component-choose-contact-type .cs-component-choose-one--label {
  background: none;
  color: var(--cs-field-label);
  width: auto;
  padding: 0;
  padding-right: 10px;
}
.cs-component-choose-contact-type .cs-component-choose-one--name {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding-top: 3px;
}
.cs-component-choose-contact-type .cs-component-choose-one--name:hover,
.cs-component-choose-contact-type .cs-component-choose-one--name:active,
.cs-component-choose-contact-type .cs-component-choose-one--name:focus {
  border-top: 2px solid var(--cs-field-highlight);
}
.cs-component-choose-contact-type .cs-component-choose-one--label.checked .cs-component-choose-one--name {
  border-top: 2px solid var(--cs-success);
}
.cs-component-choose-contact-type .cs-component-choose-one--label.checked .cs-component-choose-one--name:after {
  background: none;
}
.cs-component-choose-contact-type .cs-component-choose-one--label + .cs-component-choose-one--label {
  border: none;
}
