.cs-component-choose-many {
  width: 100%;
  font: var(--cs-font);
  letter-spacing: var(--cs-letter-spacing);
}

.cs-component-choose-many fieldset {
  border: none;
  padding: 0;
}

.cs-component-choose-many__container {
  display: inline-grid;
  grid-auto-flow: column;
  background-color: var(--cs-field-default);
  justify-content: start;
  grid-gap: 1px;
  align-items: center;
  border: solid 1px var(--cs-field-border);
}

.cs-component-choose-many--legend {
  padding-bottom: 7px;
  color: var(--cs-field-label);
}

.cs-component-choose-many--label {
  width: 150px;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  align-self: center;
  background-color: var(--cs-field-default);
  color: var(--cs-field-label);
  text-align: center;
}
.cs-component-choose-many--label:hover {
  background-color: var(--cs-field-hover);
}
.cs-component-choose-many--label input[type=checkbox] {
  display: none;
}

.cs-component-choose-many--label + .cs-component-choose-many--label {
  border-left: solid 1px var(--cs-field-border);
}

.cs-component-choose-many--label.checked {
  background-color: var(--cs-field-hover);
  color: var(--cs-field-text);
}
.cs-component-choose-many--label.checked .cs-component-choose-many--name:after {
  display: inline-block;
  position: absolute;
  top: 4px;
  content: " ";
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-image: url("images/icon-checked.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
}

.cs-component-choose-many--name {
  position: relative;
  font-size: 14px;
  line-height: 19px;
}
