/* Small button */
.cs-component-cta {
  position: relative;
  width: 100%;
  max-width: var(--cs-button-sm-width);
  height: var(--cs-button-sm-height);
  background-color: var(--cs-button-default);
  color: var(--cs-button-text);
  border: 1px solid var(--cs-button-border);
  border-radius: var(--cs-button-radius);
  font: 600 13px/18px var(--cs-font-family);
  letter-spacing: 0.015em;
  text-align: center;
}
.cs-component-cta:not(.disabled):focus,
.cs-component-cta:not(:disabled):focus {
  background-color: var(--cs-button-hover);
  outline: 0;
}
.cs-component-cta:not(.disabled):hover,
.cs-component-cta:not(:disabled):hover {
  background-color: var(--cs-button-hover);
  color: var(--cs-button-text);
  cursor: pointer;
}
.cs-component-cta.disabled,
.cs-component-cta:disabled {
  /* TBD */
  pointer-events: none;
}


/* Secondary button (Outline button) */
.cs-component-cta.secondary {
  background-color: var(--cs-secondary-button-default);
  color: var(--cs-secondary-button-text);
  border-color: var(--cs-secondary-button-border);
}
.cs-component-cta.secondary:not(.disabled):focus,
.cs-component-cta.secondary:not(:disabled):focus {
  outline: 0;
  border-color: var(--cs-secondary-button-hover);
}
.cs-component-cta.secondary:not(.disabled):hover,
.cs-component-cta.secondary:not(:disabled):hover {
  border-color: var(--cs-secondary-button-hover);
  color: var(--cs-secondary-button-text);
}
.cs-component-cta.secondary.disabled,
.cs-component-cta.secondary:disabled {
  /* TBD */
  pointer-events: none;
}


/* TODO:
  100% width button
  Dark theme
  Icon button
  Disabled states
  CTA button (Save, Open, etc)
  Loading state update
*/

.cs-component-cta .loading,
.cs-component-cta .loading:before,
.cs-component-cta .loading:after,
.cs-component-cta--primary .loading,
.cs-component-cta--primary .loading:before,
.cs-component-cta--primary .loading:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
  opacity: 1;
}
.cs-component-cta .loading,
.cs-component-cta--primary .loading {
  color: white;
  font-size: 5px;
  position: absolute;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  top: 0;
  left: calc(50% - 6px);
}
.cs-component-cta .loading:before,
.cs-component-cta .loading:after,
.cs-component-cta--primary .loading:before,
.cs-component-cta--primary .loading:after {
  content: "";
  position: absolute;
  top: 0;
}
.cs-component-cta .loading:before,
.cs-component-cta--primary .loading:before {
  left: -5.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.cs-component-cta .loading:after,
.cs-component-cta--primary .loading:after {
  left: 5.5em;
}
@-webkit-keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
