.cs-component-cta {
  --cs-button-copy: white;
  --cs-button-background: #{$dark-gray};

  padding: 10px 20px;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--cs-button-background);
  color: var(--cs-button-copy);
  cursor: pointer;
  user-select: none;

  &:not(:disabled):hover {
    --cs-button-background: #{$dark-gray-op60};
  }

  &:disabled {
    --cs-button-background: #{$light-gray};
    --cs-button-copy: #{$gray};

    cursor: not-allowed;
  }
}

.cs-component-cta--secondary {
  --cs-button-background: #{$lighter-gray};
  --cs-button-copy: #{$dark-gray};

  border: 1px solid var(--cs-button-copy);

  &:not(:disabled):hover {
    --cs-button-background: #{$dark-gray-op30};
  }

  &:disabled {
    --cs-button-background: #{$lighter-gray};
    --cs-button-copy: #{$light-gray};
  }
}
