.cs-component-cta {
  --cs-cta-font-size: 14px;
  --cs-cta-main: #{$gray};
  --cs-cta-light: white;
  --cs-cta-active: #{$dark-gray};
  --cs-cta-disabled: var(--cs-cta-active);
  --cs-cta-disabled-light: #{$dark-gray-op20};
  --cs-cta-border: var(--cs-cta-main);
  --cs-cta-border-radius: 0;
  --cs-cta-padding: 12px 20px;

  box-sizing: border-box;
  padding: var(--cs-cta-padding);
  border: 1px solid var(--cs-cta-border);
  border-radius: var(--cs-cta-border-radius);
  font-family: 'Open Sans';
  font-size: var(--cs-cta-font-size);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  user-select: none;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.cs-component-cta--primary {
  --cs-component-cta-background: var(--cs-cta-main);
  --cs-component-cta-copy: var(--cs-cta-light);

  background-color: var(--cs-component-cta-background);
  color: var(--cs-component-cta-copy);

  &:not(:disabled):hover {
    --cs-component-cta-background: var(--cs-cta-active);
  }

  &:disabled {
    --cs-component-cta-background: var(--cs-cta-disabled-light);
    --cs-component-cta-copy: var(--cs-cta-disabled);
  }
}

.cs-component-cta--secondary {
  --cs-component-cta-background: transparent;
  --cs-component-cta-copy: var(--cs-cta-main);

  background-color: var(--cs-component-cta-background);
  color: var(--cs-component-cta-copy);

  &:not(:disabled):hover {
    --cs-component-cta-background: var(--cs-cta-main);
    --cs-component-cta-copy: var(--cs-cta-light);
  }
}


// CS-THEME
.cs-component-cta.cs-theme {
  --cs-cta-border-radius: 4px;
  --cs-cta-main: #{$cs-theme-purple};
  --cs-cta-padding: 1em 1.2em;
}

