.cs-component-date {
  --cs-date-background-color: var(--cs-component-background-color);
  --cs-date-color: var(--cs-component-color);
  --cs-date-font-weight: normal;

  font-weight: var(--cs-date-font-weight);

  .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
    background: var(--cs-date-background-color);
    color: var(--cs-date-color);
    border: 1px solid var(--cs-component-border-color);
    border-radius: var(--cs-component-border-radius);
    font-size: var(--cs-component-font-size);
  }

  .ember-power-select-search {
    padding: 5px var(--cs-component-padding-horizontal) 0;
  }

  .ember-power-select-option--search-message {
    display: none;
  }

  .ember-power-select-search-input {
    padding: 0;
    height: 32px;
    border: none;
    border-bottom: 1px solid var(--cs-component-border-color);
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  .ember-power-select-search-input:hover {
    background-color: var(--cs-component-background-highlight-color);
  }

  .ember-power-select-search-input:focus {
    border: none;
    border-bottom: 1px solid var(--cs-component-border-color);
  }

  .ember-power-select-options {
    background: inherit;
    border: none;
    margin-top: 6px;
    border-radius: 0;
  }

  .ember-power-select-option {
    padding: 6px var(--cs-component-padding-horizontal);
    text-align: left;

    &[aria-current=true] {
      background: var(--cs-component-selected-color);
    }
  }
}

.cs-component-calendar.ember-basic-dropdown-content {
  background: #fff;
  border: 1px solid var(--cs-component-border-color);
  border-radius: var(--cs-component-border-radius);

  .ember-power-calendar-day {
    padding: 1em;
  }
}

.cs-component-calendar--nav-title {
  display: flex;
}

.cs-component-calendar--nav-dropdown {
  flex: 1;
  padding: 5px;

  .ember-power-select-trigger {
    border: none;
  }
}


// Themes
.cs-theme {
  --cs-date-background-color: white;
  --cs-date-color: #{$cs-theme-light-gray};
  --cs-date-font-weight: 600;
}
