@import "ember-power-calendar.css";

.cs-component-date .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  background: var(--cs-field-default);
  color: var(--cs-field-text);
  font: var(--cs-font);
  letter-spacing: var(--cs-letter-spacing);
  border: 1px solid var(--cs-component-border-color);
  border-radius: var(--cs-field-radius);
}
.cs-component-date .ember-power-select-search {
  padding: 5px 15px 0;
}
.cs-component-date .ember-power-select-option--search-message {
  display: none;
}
.cs-component-date .ember-power-select-search-input {
  padding: 0;
  height: 32px;
  border: none;
  border-bottom: 1px solid var(--cs-field-border);
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.cs-component-date .ember-power-select-search-input:hover {
  background-color: var(--cs-field-hover);
}
.cs-component-date .ember-power-select-search-input:focus {
  border: none;
  border-bottom: 1px solid var(--cs-field-border);
}
.cs-component-date .ember-power-select-options {
  background: inherit;
  border: none;
  margin-top: 6px;
  border-radius: 0;
}
.cs-component-date .ember-power-select-option {
  padding: 6px 15px;
  text-align: left;
}
.cs-component-date .ember-power-select-option[aria-current=true] {
  background: var(--cs-field-hover);
}

.cs-component-calendar.ember-basic-dropdown-content {
  background: #fff;
  border: 1px solid var(--cs-field-border);
  border-radius: var(--cs-field-radius);
}
.cs-component-calendar.ember-basic-dropdown-content .ember-power-calendar-day {
  padding: 1em;
}

.cs-component-calendar--nav-title {
  display: flex;
}

.cs-component-calendar--nav-dropdown {
  flex: 1;
  padding: 5px;
}
.cs-component-calendar--nav-dropdown .ember-power-select-trigger {
  border: none;
}
