.cs-dropdown-group {
  --cs-dropdown-width: 453px;
  --cs-dropdown-height: 76px;
  --cs-dropdown-background-color: var(--cs-light);
  --cs-dropdown-border-color: var(--cs-dark-op25);
  --cs-dropdown-selected-color: #f2f2f4;

  position: relative;
  display: block;
  width: 100%;
  max-width: var(--cs-dropdown-width);
  height: var(--cs-dropdown-height);
  color: var(--cs-dark);
  font: 400 16px/18px var(--cs-font-family);
  letter-spacing: 0;
}
.cs-dropdown-group > .cs-component-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  right: -1px;
}

.cs-dropdown-group--label {
  z-index: 1;
  position: absolute;
  bottom: -1px;
  top: 30px;
  left: 15px;
  right: 45px;
  /* do not overlap dropdown open box arrow */
  color: var(--cs-dark-op50);
  text-align: left;
  pointer-events: none;
  /* no line-wrap. truncate with ellipsis. */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}
.cs-dropdown-group--label.with-option-selected,
.cs-dropdown-group--label.is-open {
  top: 2px;
  left: 15px;
  line-height: 20px;
  font-size: 12px;
}
.cs-dropdown-group--label.disabled {
  color: var(--cs-dark-op25);
}


/* Utility classes */
.cs-dropdown-group .lightweight {
  font-weight: 100;
}
.cs-dropdown-group .caps {
  text-transform: uppercase;
}


/* Dropdown trigger */
.cs-component-dropdown .ember-power-select-trigger,
.cs-component-dropdown .ember-power-select-trigger[aria-expanded="true"],
.cs-component-dropdown .ember-basic-dropdown-trigger--below.ember-power-select-trigger[aria-expanded="true"],
.cs-component-dropdown .ember-basic-dropdown-trigger--in-place.ember-power-select-trigger[aria-expanded="true"] {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: var(--cs-dropdown-width);
  height: var(--cs-dropdown-height);
  padding: 25px 45px 0 15px;
  background-color: var(--cs-dropdown-background-color);
  border: 1px solid var(--cs-dropdown-border-color);
  border-radius: 5px;
  overflow-y: hidden;
}
.cs-component-dropdown .ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
  transform: none;
}
.cs-component-dropdown .ember-power-select-trigger:focus {
  border: none;
  outline: 0;
}
.cs-component-dropdown:not(.disabled) .ember-power-select-trigger:focus,
.cs-component-dropdown:not(.disabled) .ember-power-select-trigger--active {
  border: 1px solid var(--cs-dropdown-border-color);
  outline: 0;
}
.cs-component-dropdown:not(.disabled) .ember-power-select-trigger:hover {
  cursor: pointer;
}
.cs-component-dropdown.disabled .ember-power-select-trigger {
  pointer-events: none;
}
.cs-component-dropdown .ember-power-select-selected-item {
  display: block;
  margin-left: 0;
  color: var(--cs-dark);
  font: 400 16px/18px var(--cs-font-family);
  letter-spacing: 0;
}
.cs-component-dropdown.disabled .ember-power-select-selected-item {
  color: var(--cs-dark-op25);
  border-color: var(--cs-dark-op25);
}
.cs-component-dropdown .ember-power-select-placeholder {
  display: none;
}
.cs-component-dropdown .ember-power-select-selected-item .ember-power-select-clear-btn {
  right: 5px;
}
.cs-component-dropdown .ember-power-select-status-icon {
  right: 15px;
  width: 10px;
  height: var(--cs-dropdown-height);
  background: url('images/dropdown-arrows.svg') center/10px no-repeat;
  border: none;
}
.cs-component-dropdown.disabled .ember-power-select-status-icon {
  background-image: none;
}


/* Search */
.cs-component-dropdown .ember-power-select-search {
  padding: 0 45px 0 15px;
}
.cs-component-dropdown .ember-power-select-search .ember-power-select-option--search-message {
  display: none;
}
.cs-component-dropdown .ember-power-select-search .ember-power-select-search-input {
  min-height: 30px;
  padding: 0;
  border: none;
  background: var(--cs-dropdown-background-color);
  color: inherit;
  font: inherit;
}
.cs-component-dropdown .ember-power-select-search .ember-power-select-search-input:focus {
  border-bottom: 1px solid var(--cs-dropdown-border-color);
  outline: 0;
}


/* Dropdown menu and options */
.cs-component-dropdown .ember-power-select-option {
  padding: 10px 15px 10px 30px;
  color: var(--cs-dark-op50);
  font: 400 16px/22px var(--cs-font-family);
  letter-spacing: 0;
}

.cs-component-dropdown .ember-power-select-dropdown,
.cs-component-dropdown .ember-power-select-dropdown.ember-basic-dropdown-content--below,
.cs-component-dropdown .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  top: 30px;
  width: 100%;
  max-width: var(--cs-dropdown-width);
  background: none;
  border-color: var(--cs-dropdown-border-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cs-component-dropdown .ember-power-select-options {
  padding-top: 5px;
  background-color: var(--cs-dropdown-background-color);
}

.cs-component-dropdown .ember-power-select-option[aria-current=true] {
  background-color: var(--cs-dropdown-selected-color);
}
.cs-component-dropdown .ember-power-select-option[aria-selected="true"] {
  background: url('images/checkmark.svg') 10px center/10px no-repeat;
  background-color: var(--cs-dropdown-selected-color);
  color: var(--ch-dark);
}


/* Multi-select Dropdown */
.cs-component-dropdown.multiple .ember-power-select-dropdown,
.cs-component-dropdown.multiple .ember-power-select-dropdown.ember-basic-dropdown-content--below,
.cs-component-dropdown.multiple .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  top: auto;
  background-color: var(--cs-dropdown-background-color);
  border: 1px solid var(--cs-dropdown-border-color);
  border-radius: 5px;
}
.cs-component-dropdown.multiple .ember-power-select-trigger-multiple-input {
  visibility: collapse;
  height: 0;
}
.cs-component-dropdown .ember-power-select-multiple-trigger {
  padding: 25px 45px 0 15px;
}
.cs-component-dropdown .ember-power-select-multiple-options {
  height: calc(var(--cs-dropdown-height) - 25px);
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cs-component-dropdown .ember-power-select-multiple-option {
  padding: 0 10px;
  color: var(--cs-dark-op50);
  background-color: var(--cs-light);
  border: 1px solid var(--cs-dropdown-border-color);
  border-radius: 20px;
  font: 400 16px/22px var(--cs-font-family);
  letter-spacing: 0;
}
.cs-component-dropdown .ember-power-select-multiple-option:hover {
  background-color: var(--cs-dropdown-selected-color);
}


/* Custom Options */
.cs-component-dropdown.with-customized-options .ember-power-select-selected-item,
.cs-component-dropdown.with-customized-options .ember-power-select-option {
  width: 100%;
  height: calc(var(--cs-dropdown-height) - 25px);
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cs-component-dropdown.with-customized-options .ember-power-select-option {
  height: var(--cs-dropdown-height);
}
