.cs-dropdown {
  position: relative;
  display: block;
  width: 100%;
}
.cs-dropdown.required > .cs-dropdown--label::after {
  content: "*";
  display: inline-block;
  vertical-align: text-top;
  margin-left: 2px;
}
.cs-dropdown--label {
  display: block;
  padding-bottom: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cs-dropdown--required {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}

/* Dropdown trigger */
.cs-dropdown .ember-power-select-trigger {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
}
.cs-dropdown .ember-power-select-selected-item,
.cs-dropdown .ember-power-select-placeholder {
  display: block;
  margin-left: 0;
}
.cs-dropdown .ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
  transform: none;
}
.cs-dropdown:not(.disabled) .ember-power-select-trigger:hover {
  cursor: pointer;
}
.cs-dropdown.disabled .ember-power-select-trigger {
  pointer-events: none;
}
.cs-dropdown .ember-power-select-selected-item .ember-power-select-clear-btn {
  right: 5px;
}

/* Search */
.cs-dropdown .ember-power-select-search {
  padding: 10px 15px;
}
.cs-dropdown .ember-power-select-search .ember-power-select-option--search-message {
  display: none;
}
.cs-dropdown .ember-power-select-search .ember-power-select-search-input {
  min-height: 30px;
  padding: 0;
  border: none;
  background: inherit;
  color: inherit;
  font: inherit;
}
