@mixin pill() {
  border: 1px solid var(--cs-input-border);
  padding: 0 10px;
  border-radius: 20px;
  background: transparent;
}

.cs-component-dropdown, .cs-component-dropdown--multiple {
  background-color: var(--cs-input-background);
  position: relative;
  height: 60px;
  border: 1px solid var(--cs-input-border);

  &__container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }

  &.is-open &__container {
    left: -1px;
    right: -1px;
  }

  .cs-component-dropdown--label {
    color: var(--cs-input-label);
    z-index: 1;
    position: absolute;
    bottom: -1px;
    left: var(--cs-input-padding-horizontal);
    right: var(--cs-input-padding-horizontal);
    border-bottom: 1px solid var(--cs-input-border);
    pointer-events: none;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;

    &.with-option-selected {
      top: calc(0px - var(--cs-input-padding-vertical));
      left: var(--cs-input-padding-horizontal);
      font-size: 12px;
      font-weight: 600;
    }
  }

  &.is-open .cs-component-dropdown--label {
    color: var(--cs-input-label-focus);
    top: calc(0px - var(--cs-input-padding-vertical));
    left: calc(var(--cs-input-padding-horizontal) + 1px);
    font-size: 12px;
    font-weight: 600;
  }

  .ember-power-select-trigger {
    border: none;
    outline: none;
    background-color: var(--cs-input-background);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
  }

  &.is-open .ember-power-select-multiple-trigger {
    border-left: 1px solid var(--cs-input-border);
    border-right: 1px solid var(--cs-input-border);
    border-radius: 0;
  }

  .ember-power-select-trigger:focus, .ember-power-select-trigger--active {
    border: none;
    outline: none;
  }

  .ember-power-select-multiple-options {
    margin-left: var(--cs-input-padding-horizontal);
  }

  .ember-power-select-status-icon {
    right: 25px;
  }

  .ember-power-select-selected-item {
    margin-left: calc(var(--cs-input-padding-horizontal) + 1px);
  }

  .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
    border-color: var(--cs-input-border);
  }

  .ember-power-select-multiple-option {
    @include pill();
  }
}

#ember-basic-dropdown-wormhole, .ember-basic-dropdown-content--in-place {
  .ember-power-select-search {
    padding: 0 var(--cs-input-padding-horizontal);
  }

  .ember-power-select-option--search-message {
    display: none;
  }

  .ember-power-select-search-input {
    border: none;
    outline: none;
    background: var(--cs-input-background);
    padding: 4px;
    height: 32px;
  }

  .ember-power-select-dropdown {
    border: none;
  }

  .ember-power-select-options {
    background: var(--cs-input-background);
    border: none;
    margin-top: 6px;
    border-radius: 0;
  }

  .ember-power-select-option {
    padding: 6px var(--cs-input-padding-horizontal);
    border-bottom: 1px solid var(--cs-input-border);
    font-size: 13px;

    &[aria-current=true] {
      background: var(--cs-input-selected);
    }
  }

  .ember-basic-dropdown-content, &.ember-basic-dropdown-content {
    background: transparent;
  }
}

.cs-component-dropdown .ember-power-select-dropdown {
  top: 0;
}
