.cs-component-dropdown,
.cs-component-dropdown--multiple {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--cs-component-max-width);
  font-family: var(--cs-component-font-family);
  font-size: var(--cs-component-font-size);
  font-weight: var(--cs-component-font-weight);
  letter-spacing: var(--cs-component-letter-spacing);
  line-height: var(--cs-component-line-height);
  /* Sizing */
  --cs-dropdown-max-width: var(--cs-component-max-width);
  --cs-dropdown-height: var(--cs-component-height);
  --cs-dropdown-text-box-height: 1.75em;
  /* Spacing */
  --cs-dropdown-padding-horizontal: var(--cs-component-padding-horizontal);
  --cs-dropdown-padding-vertical: var(--cs-component-padding-vertical);
  /* Text */
  --cs-dropdown-color: var(--cs-component-color);
  --cs-dropdown-font-size: var(--cs-component-font-size);
  /* Label */
  --cs-dropdown-label-color: var(--cs-component-label-color);
  --cs-dropdown-label-font-size: var(--cs-dropdown-font-size);
  --cs-dropdown-label-font-weight: var(--cs-dropdown-font-weight);
  --cs-dropdown-label-highlight-color: var(--cs-component-label-highlight-color);
  --cs-dropdown-label-highlight-font-size: 12px;
  --cs-dropdown-label-minimized-color: var(--cs-dropdown-label-color);
  /* Background properties */
  --cs-dropdown-background-color: var(--cs-component-background-color);
  --cs-dropdown-background-hover: var(--cs-component-background-highlight-color);
  /* Borders */
  --cs-dropdown-border-color: var(--cs-component-border-color);
  --cs-dropdown-border-radius: var(--cs-component-border-radius);
  /* Options */
  --cs-dropdown-selected-color: var(--cs-component-selected-color);
}

.cs-component-dropdown,
.cs-component-dropdown--multiple {
  position: relative;
  max-width: var(--cs-dropdown-max-width);
  height: var(--cs-dropdown-height);
  border: 1px solid var(--cs-dropdown-border-color);
  border-radius: var(--cs-dropdown-border-radius);
  background-color: var(--cs-dropdown-background-color);
  color: var(--cs-dropdown-color);
  font-size: var(--cs-dropdown-font-size);
}
.cs-component-dropdown > .cs-component-dropdown__container,
.cs-component-dropdown--multiple > .cs-component-dropdown__container {
  position: absolute;
  bottom: 10px;
  left: -1px;
  right: -1px;
}

.cs-component-dropdown--label {
  z-index: 1;
  position: absolute;
  bottom: -1px;
  left: var(--cs-dropdown-padding-horizontal);
  right: calc(3 * var(--cs-dropdown-padding-horizontal));
  /* do not overlap dropdown open box arrow */
  color: var(--cs-dropdown-label-color);
  font-size: var(--cs-dropdown-label-font-size);
  font-weight: var(--cs-dropdown-label-font-weight);
  text-align: left;
  pointer-events: none;
  /* no line-wrap. truncate with ellipsis. */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}
.cs-component-dropdown--label.with-option-selected {
  --cs-dropdown-label-color: var(--cs-dropdown-label-minimized-color);
  --cs-dropdown-label-font-size: var(--cs-dropdown-label-highlight-font-size);
  top: -1.7em;
  left: var(--cs-dropdown-padding-horizontal);
  line-height: var(--cs-dropdown-padding-vertical);
}
.cs-component-dropdown--label.is-open {
  --cs-dropdown-label-color: var(--cs-dropdown-label-highlight-color);
  --cs-dropdown-label-font-size: var(--cs-dropdown-label-highlight-font-size);
  top: -1.7em;
  left: var(--cs-dropdown-padding-horizontal);
  line-height: var(--cs-dropdown-padding-vertical);
}

/* ember-power-select & ember-power-dropdown style changes */
.cs-component-dropdown__container .ember-power-select-trigger {
  min-height: var(--cs-dropdown-text-box-height);
  margin: 0 1rem;
  border: none;
  background-color: var(--cs-dropdown-background-color);
  cursor: pointer;
  -webkit-transition: margin 0.2s ease, background-color 0.2s ease;
  transition: margin 0.2s ease, background-color 0.2s ease;
}
.cs-component-dropdown__container .ember-power-select-trigger:focus {
  background-color: var(--cs-dropdown-background-hover);
  border: none;
  outline: 0;
}
.cs-component-dropdown__container .ember-power-select-search {
  padding: 0 var(--cs-dropdown-padding-horizontal);
}
.cs-component-dropdown__container .ember-power-select-search .ember-power-select-option--search-message {
  display: none;
}
.cs-component-dropdown__container .ember-power-select-search .ember-power-select-search-input {
  min-height: var(--cs-dropdown-text-box-height);
  padding: 0;
  border: none;
  background: inherit;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
}
.cs-component-dropdown__container .ember-power-select-search .ember-power-select-search-input:focus {
  border-bottom: 1px solid var(--cs-dropdown-border-color);
  outline: 0;
}
.cs-component-dropdown__container .ember-power-select-selected-item {
  display: inline-block;
  margin-left: 0;
}
.cs-component-dropdown__container .ember-power-select-selected-item .ember-power-select-status-icon {
  right: 25px;
  border-top-color: var(--cs-dropdown-border-color);
}
.cs-component-dropdown__container .ember-power-select-selected-item .ember-power-select-clear-btn {
  right: 5px;
}
.cs-component-dropdown__container .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  top: 0;
  background-color: var(--cs-dropdown-background-color);
  border-color: var(--cs-dropdown-border-color);
  border-bottom-left-radius: var(--cs-dropdown-border-radius);
  border-bottom-right-radius: var(--cs-dropdown-border-radius);
}
.cs-component-dropdown__container .ember-power-select-options {
  margin-top: 6px;
  background: inherit;
  border: none;
  border-radius: 0;
}
.cs-component-dropdown__container .ember-power-select-option {
  padding: 6px var(--cs-dropdown-padding-horizontal);
  font-size: var(--cs-dropdown-font-size);
  display: flex;
  flex-flow: row nowrap;
}
.cs-component-dropdown__container .ember-power-select-option + .ember-power-select-option {
  border-top: 1px solid var(--cs-dropdown-border-color);
}
.cs-component-dropdown__container .ember-power-select-option[aria-current=true] {
  background-color: var(--cs-dropdown-selected-color);
}
.cs-component-dropdown__container .ember-power-select-option span {
  width: 40%;
  padding: 0 5px;
}

.cs-component-dropdown--multiple .ember-power-select-trigger {
  max-height: var(--cs-dropdown-text-box-height);
  overflow-y: scroll;
  white-space: nowrap;
}
.cs-component-dropdown--multiple .ember-power-select-trigger:hover {
  background-color: initial;
}
.cs-component-dropdown--multiple .ember-power-select-multiple-option {
  border: 1px solid var(--cs-dropdown-border-color);
  padding: 0 10px;
  border-radius: 20px;
  background-color: var(--cs-dropdown-background-color);
}
.cs-component-dropdown--multiple .ember-power-select-multiple-option:hover {
  --cs-dropdown-background-color: var(--cs-dropdown-background-hover);
}
.cs-component-dropdown--multiple .cs-component-dropdown--label {
  bottom: -2px;
}
.cs-component-dropdown--multiple .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  top: calc(var(--cs-dropdown-padding-vertical) * 1.5);
}

/* Utility classes */
.cs-component-dropdown .lightweight {
  font-weight: 100;
}
.cs-component-dropdown .caps {
  text-transform: uppercase;
}

.cs-component-dropdown--with-customized-options .ember-power-select-selected-item {
  font-size: var(--cs-dropdown-font-size);
  display: flex;
  align-items: center;
}
.cs-component-dropdown--with-customized-options .ember-power-select-selected-item span {
  padding: 0 5px;
}
.cs-component-dropdown--with-customized-options .ember-power-select-clear-btn {
  top: 0;
}

/* Themes */
.cs-theme {
  --cs-dropdown-font-size: 18px;
  --cs-dropdown-color: var(--color-cs-theme-light-gray);
  --cs-dropdown-selected-color: var(--color-cs-theme-light-purple);
  --cs-dropdown-background-color: white;
  --cs-dropdown-background-hover: transparent;
  --cs-dropdown-border-radius: 10px;
  --cs-dropdown-label-highlight-color: var(--color-cs-theme-light-purple);
  --cs-dropdown-label-highlight-font-size: 10px;
}
.cs-theme .ember-power-select-option + .ember-power-select-option {
  border-top: none;
}
