.cs-component-file-upload-dialog {
  --cs-component-file-upload-dialog-icon: url("images/file-regular.svg");

  width: 100%;
  font: var(--cs-font);
  letter-spacing: var(--cs-letter-spacing);
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--prompt {
  background: var(--cs-field-default);
  padding: 20px;
  position: relative;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--dropzone {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--cs-field-hover);
  opacity: 0.9;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--dropzone h4 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--icon {
  background: var(--cs-component-file-upload-dialog-icon) no-repeat center;
  height: 60px;
  margin-bottom: 10px;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--accepted-formats {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--copy {
  font-weight: 200;
  text-align: center;
  padding: 10px;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--copy span {
  text-decoration: underline;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--copy p {
  text-align: center;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--file {
  padding: 10px 0;
  border-bottom: 1px solid var(--cs-field-border);
  position: relative;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--file:first-child {
  border-top: 1px solid var(--cs-field-border);
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--view-file {
  position: absolute;
  padding-left: 25px;
  right: 0;
  top: 10px;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: var(--cs-success);
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--view-file .cs-component-file-upload-dialog--view-file-icon {
  -webkit-mask: url("images/eye-solid.svg") no-repeat 2px 2px;
  mask: url("images/eye-solid.svg") no-repeat 2px 2px;
  background-color: var(--cs-success);
  height: 14px;
  width: 20px;
  display: inline-block;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--remove-file {
  position: absolute;
  right: 0;
  bottom: 10px;
  display: block;
  text-decoration: underline;
  font-size: 13px;
  color: var(--cs-field-error);
  cursor: pointer;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--file-thumbnail {
  display: inline-block;
  border: 1px solid var(--cs-field-border);
  border-radius: 5px;
  width: 100px;
  height: 70px;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--file-details {
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--file-details h4 {
  margin: 0;
  font-size: 14px;
  color: var(--cs-field-label);
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--file-uploaded {
  color: var(--cs-field-text);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
}
.cs-component-file-upload-dialog .cs-component-file-upload-dialog--save {
  font-size: 11px;
  text-decoration: underline;
  color: var(--cs-field-text);
}
.cs-component-file-upload-dialog .cs-component-cta {
  margin-top: 20px;
}
