.cs-component-password-field {
  --cs-component-password-field--show-icon: url('images/eye-solid.svg');
  --cs-component-password-field--hide-icon: url('images/eye-slash-solid.svg');

  .cs-component-text-field--icon {
    float: right;
    background: var(--cs-component-password-field--show-icon) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 28px;

    &.hide {
      background: var(--cs-component-password-field--hide-icon) no-repeat;
    }
  }

  .cs-component-text-field-optional + .cs-component-text-field--icon {
    top: 50px;
  }
}