.cs-component-password-field {
  position: relative;
}
.cs-component-password-field .visibility-toggle {
  position: absolute;
  right: 15px;
  top: 36px;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url("images/eye-solid.svg") no-repeat;
  border: none;
  cursor: pointer;
  outline: 0;
}
.cs-component-password-field .visibility-toggle.hide {
  background: url("images/eye-slash-solid.svg") no-repeat;
}
