.cs-component-phone-number {
  .intl-tel-input {
    display: block;
  }

  .intl-tel-input.allow-dropdown .flag-container {
    left: 7px;
    bottom: -10px;
  }

  input[type="tel"] {
    padding-bottom: 10px;
  }

  .cs-component-text-field--label > .label {
    top: -45px;
    font-size: 12px;
    font-weight: 600;
  }
}
