.cs-component-phone-number .intl-tel-input {
  display: block;
}
.cs-component-phone-number .intl-tel-input.allow-dropdown .flag-container {
  left: 7px;
  bottom: -10px;
}
.cs-component-phone-number input[type=tel] {
  padding-bottom: 10px;
}
.cs-component-phone-number .cs-component-text-field--label > .label {
  top: 1.5rem;
  font-size: 12px;
  font-weight: 600;
}

.cs-component-phone-number-fields__wrapper {
  position: relative;
}

.cs-component-phone-number-fields__wrapper .cs-component-phone-number-fields--add {
  position: absolute;
  top: 20px;
  right: -25px;
  border: none;
  text-indent: -9999px;
  background: url(/assets/images/icon-plus.svg) no-repeat center center;
  width: 22px;
  height: 22px;
  cursor: pointer;
  outline: none;
}
