.cs-input-group.cs-component-phone-number {
  overflow: initial;
}

.cs-component-phone-number-fields__wrapper {
  position: relative;
  width: 100%;
  max-width: var(--cs-component-width);
}

.cs-component-phone-number-fields__wrapper + .cs-component-phone-number-fields__wrapper {
  margin-top: 10px;
}

.cs-component-phone-number-fields__wrapper .cs-component-phone-number-fields--add {
  position: absolute;
  top: 25px;
  right: -25px;
  border: none;
  text-indent: -9999px;
  background: url(/assets/images/icon-plus.svg) no-repeat center center;
  width: 22px;
  height: 22px;
  cursor: pointer;
  outline: none;
}
