.cs-component-street-addresses__wrapper {
  position: relative;
}

.cs-component-street-addresses__wrapper .cs-component-street-addresses--add-address {
  position: absolute;
  top: 20px;
  right: -25px;
  border: none;
  text-indent: -9999px;
  background: url(/assets/images/icon-plus.svg) no-repeat center center;
  width: 22px;
  height: 22px;
  cursor: pointer;
  outline: none;
}
