.cs-component-street-address {
  background: $lighter-gray;
  position: relative;
  height: 60px;
  border: 1px solid $border-gray;

  &__container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }

  &.is-open &__container {
    left: -1px;
    right: -1px;
  }

  label {
    color: $gray;
    z-index: 1;
    position: absolute;
    bottom: -1px;
    left: 20px;
    right: 20px;
    border-bottom: 1px solid $border-gray;
    pointer-events: none;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;

    &.with-option-selected {
      top: -20px;
      left: 20px;
      font-size: 12px;
    }
  }

  &.is-open label {
    color: $purple;
    top: -20px;
    left: 21px;
    font-size: 12px;
  }
  .ember-power-select-trigger {
    border: none;
    outline: none;
    background: $lighter-gray;
    transition: padding-top 0.2s ease, margin-top 0.2s ease;

  }

  .ember-power-select-trigger:focus, .ember-power-select-trigger--active {
    border: none;
    outline: none;
  }

  .ember-power-select-multiple-options {
    margin-left: 21px;
  }

  .ember-power-select-status-icon {
    right: 25px;
  }

  .ember-power-select-selected-item {
    margin-left: 21px;
  }

  .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
    border-color: $border-gray;
  }
}