/* Common styles in text-field.css */
/* Default theme styles in text-field-default.css */

.cs-textarea.cs-component-input-group {
  height: calc(var(--cs-text-field-height) * 2);
}

.cs-textarea--char-counter {
  position: absolute;
  bottom: 0;
  right: 6px;
  font-size: 12px;
}

.cs-textarea--char-counter.with-validation {
  bottom: 0;
}
