.cs-component-text-field {
  --cs-text-field-font-size: var(--cs-root-font-size);
  --cs-text-field-border-radius: var(--cs-root-border-radius);
  --cs-text-field-background-color: var(--cs-root-background-color);
  --cs-text-field-body-color: var(--cs-root-body-color);

  --cs-text-field-label-color: var(--cs-root-label-color);
  --cs-text-field-label-optional: var(--cs-text-field-body-color);
  --cs-text-field-label-font-size: var(--cs-text-field-font-size);
  --cs-text-field-label-font-weight: normal;
  --cs-text-field-label-text-transform: none;

  --cs-text-field-validation: var(--cs-root-valid);
  --cs-text-field-validation-icon: url('images/check-icon.svg');
  --cs-text-field-validation-icon-size: 1em;

  position: relative;
  padding: 1rem 0 2rem;
}

.cs-component-text-field--input {
  box-sizing: border-box;
  width: 100%;
  height: var(--cs-root-input-height);
  margin: 0;
  padding-left: var(--cs-root-padding-horizontal);
  padding-top: var(--cs-root-padding-vertical);

  border: 1px solid var(--cs-root-border-color);
  border-radius: var(--cs-text-field-border-radius);
  background-color: var(--cs-text-field-background-color);
  color: var(--cs-text-field-body-color);
  font-family: inherit;
  font-size: var(--cs-text-field-font-size);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;

  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
  -webkit-transition: padding-top 0.2s ease, margin-top 0.2s ease;
  transition: padding-top 0.2s ease, margin-top 0.2s ease;

  &:focus + .cs-component-text-field--label > .label {
    --cs-text-field-label-color: var(--cs-root-label-focus);
    --cs-text-field-label-font-size: 12px;
    --cs-text-field-label-font-weight: 600;

    top: -45px;
  }
}

.cs-component-text-field--label {
  display: block;
  position: relative;
  height: 0;
  margin: -10px 1rem 0 1rem;
  padding: 0;
  white-space: nowrap;

  border-bottom: 1px solid var(--cs-root-border-color);

  > .optional {
    position: absolute;
    top: calc((var(--cs-root-input-height) + 0.5rem) * -1);
    right: -1rem;

    color: var(--cs-text-field-label-optional);
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 14px;
    text-align: right;
    text-transform: uppercase;
  }

  > .label {
    position: absolute;
    top: -25px;
    left: 0;
    margin: 0;

    color: var(--cs-text-field-label-color);
    font-size: var(--cs-text-field-label-font-size);
    font-weight: var(--cs-text-field-label-font-weight);
    letter-spacing: 0;
    line-height: 1.3;
    text-align: left;
    text-transform: var(--cs-text-field-label-text-transform);

    -webkit-transition: top 0.2s ease, font-size 0.2s ease, font-weight 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, font-weight 0.2s ease, color 0.2s ease;
  }

  &.active > .label {
    --cs-text-field-label-color: var(--cs-root-label-color);
    --cs-text-field-label-font-size: 12px;
    --cs-text-field-label-font-weight: 600;

    top: -45px;
  }
}

.cs-component-text-field--validation {
  visibility: visible;
  position: absolute;
  max-width: 100%;
  margin-top: 1em;
  padding-top: 1em;
  padding-left: calc(var(--cs-text-field-validation-icon-size) + 0.5em);

  background: var(--cs-text-field-validation-icon) no-repeat;
  background-position: top 1.2em left;
  background-size: var(--cs-text-field-validation-icon-size);

  color: var(--cs-text-field-validation);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 14px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-transition: visibility 0.2s ease, background-image 0.2s ease;
  transition: visibility 0.2s ease, background-image 0.2s ease;

  &.invalid {
    --cs-text-field-validation: var(--cs-root-invalid);
    --cs-text-field-validation-icon: url('images/x-icon.svg');

    visibility: visible;
  }

  &.hidden {
    visibility: collapse;
    background-image: none;
  }
}


// cs-theme
.cs-component-text-field--input.cs-theme {
  --cs-text-field-font-size: 20px;
  --cs-text-field-border-radius: 10px;
  --cs-text-field-background-color: white;
  --cs-text-field-body-color: #{$cs-theme-light-gray};

  outline-offset: 2px;
  padding-bottom: 10px;

  &:focus + .cs-component-text-field--label > .label {
    --cs-text-field-label-font-size: 10px;
    --cs-text-field-label-text-transform: uppercase;
  }
}

.cs-component-text-field--label.cs-theme {
  --cs-text-field-label-color: #{$cs-theme-light-gray};
  --cs-text-field-label-font-size: 18px;

  &.active > .label {
    --cs-text-field-label-color: #{$cs-theme-light-purple};
    --cs-text-field-label-font-size: 10px;
    --cs-text-field-label-text-transform: uppercase;
  }
}

.cs-component-text-field--validation {
  &.cs-theme {
    --cs-text-field-validation: #{$cs-theme-green};
  }

  &.invalid.cs-theme {
    --cs-text-field-validation: #{$cs-theme-red};
  }
}
