.cs-component-text-area {
  --cs-component-text-area-line-height: 45px;
  --line-color: #ccc;

  .cs-component-text-area--input-container {
    border: 1px solid #ccc;
    background: var(--cs-input-background);
    padding: 15px;
  }

  textarea {
    --gradient-height: calc(var(--cs-component-text-area-line-height) - 1px);

    height: auto;
    background-image: -webkit-linear-gradient(var(--cs-input-background), var(--cs-input-background) var(--gradient-height), #ccc var(--gradient-height), #ccc var(--cs-component-text-area-line-height), var(--cs-input-background) var(--cs-component-text-area-line-height));
    background-image: -moz-linear-gradient(var(--cs-input-background), var(--cs-input-background) var(--gradient-height), #ccc var(--gradient-height), #ccc var(--cs-component-text-area-line-height), var(--cs-input-background) var(--cs-component-text-area-line-height));
    background-image: -ms-linear-gradient(var(--cs-input-background), var(--cs-input-background) var(--gradient-height), #ccc var(--gradient-height), #ccc var(--cs-component-text-area-line-height), var(--cs-input-background) var(--cs-component-text-area-line-height));
    background-image: -o-linear-gradient(var(--cs-input-background), var(--cs-input-background) var(--gradient-height), #ccc var(--gradient-height), #ccc var(--cs-component-text-area-line-height), var(--cs-input-background) var(--cs-component-text-area-line-height));
    background-image: linear-gradient(var(--cs-input-background), var(--cs-input-background) var(--gradient-height), #ccc var(--gradient-height), #ccc var(--cs-component-text-area-line-height), var(--cs-input-background) var(--cs-component-text-area-line-height));
    background-size: 100% var(--cs-component-text-area-line-height);
    border: none;
    line-height: var(--cs-component-text-area-line-height);
    padding: 8px;
    resize: none;
    outline: none;
    overflow: hidden;

    &:focus + .cs-component-text-field--label > span {
      top: 25px;
    }
  }

  .cs-component-text-field--label {
    margin: 0;
    border: none;
    position: unset;

    span {
      top: 60px;
      left: 15px;
    }

    &.active > span {
      top: 25px;
    }
  }

  .cs-component-text-area--char-counter {
    position: absolute;
    bottom: 40px;
    right: 15px;
    color: var(--cs-component-text-field-label);
    font-size: 12px;
  }
}