.cs-component-text-area.cs-input-group {
  height: calc(var(--cs-text-field-height) * 2);
}

textarea.cs-input {
  height: 100%;
  padding-bottom: 10px;
  resize: none;
}

.cs-component-text-area--char-counter {
  position: absolute;
  bottom: -1rem;
  right: 0;
  font-size: 12px;
}
.cs-component-text-area--char-counter.with-validation {
  bottom: 0;
}
