.cs-dark-dropdown {
  --cs-dropdown-height: 40px;
  --cs-dropdown-background-color: var(--cs-foreground);

  padding-bottom: 15px;
  color: var(--cs-light);
  font: var(--cs-font);
  letter-spacing: 0.015em;
}
.cs-dark-dropdown.required > .cs-dropdown--label::after {
  content: "*";
  display: inline-block;
  vertical-align: text-top;
}
.cs-dark-dropdown > .cs-dropdown--label {
  display: block;
  padding-bottom: 7px;
  color: var(--cs-dark-field-label);
  font: var(--cs-font);
  letter-spacing: var(--cs-letter-spacing);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.cs-dark-dropdown > .cs-dropdown--required {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  color: var(--cs-dark-field-label);
  font: var(--cs-font);
  letter-spacing: var(--cs-letter-spacing);
  text-transform: lowercase;
}

/* Dropdown trigger */
.cs-dark-dropdown .ember-power-select-trigger {
  height: var(--cs-dropdown-height);
  padding: 0 45px 0 15px;
  background-color: var(--cs-foreground);
  border: 1px solid var(--cs-default);
  border-radius: 5px;

  transition: background-color var(--cs-transition-time);
}
.cs-dark-dropdown .ember-power-select-selected-item,
.cs-dark-dropdown .ember-power-select-placeholder {
  color: var(--cs-light);
  font: var(--cs-font);
  letter-spacing: 0.015em;
}
.cs-dark-dropdown:not(.disabled) .ember-power-select-trigger:focus,
.cs-dark-dropdown:not(.disabled) .ember-power-select-trigger--active {
  border: 1px solid var(--cs-default);
  outline: 0;
}
.cs-dark-dropdown:not(.disabled) .ember-power-select-trigger:hover {
  background-color: var(--cs-foreground-hover);
}
.cs-dropdown.cs-dark-dropdown.disabled .ember-power-select-trigger {
  background-color: var(--cs-dark-field-disabled);
}
.cs-dropdown.cs-dark-dropdown.disabled .ember-power-select-selected-item,
.cs-dropdown.cs-dark-dropdown.disabled .ember-power-select-placeholder {
  color: var(--cs-dark-field-text-disabled);
}
.cs-dropdown.cs-dark-dropdown .ember-power-select-trigger .ember-power-select-clear-btn {
  display: none;
}
.cs-dark-dropdown .ember-power-select-status-icon {
  right: 15px;
  width: 10px;
  height: var(--cs-dropdown-height);
  background: url('images/dropdown-arrows.svg') center/10px no-repeat;
  border: none;
}
.cs-dark-dropdown.disabled .ember-power-select-status-icon {
  background-image: none;
}

/* Dropdown menu and options */
.cs-dark-dropdown .ember-power-select-trigger[aria-expanded="true"],
.cs-dark-dropdown .ember-basic-dropdown-trigger--below.ember-power-select-trigger[aria-expanded="true"],
.cs-dark-dropdown .ember-basic-dropdown-trigger--in-place.ember-power-select-trigger[aria-expanded="true"],
.cs-dark-dropdown .ember-power-select-dropdown,
.cs-dark-dropdown .ember-power-select-dropdown.ember-basic-dropdown-content--below,
.cs-dark-dropdown .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  background-color: var(--cs-foreground-hover);
  border: 1px solid var(--cs-default);
  border-radius: 5px;
}
.cs-dark-dropdown .ember-power-select-option {
  padding: 10px 15px 10px 30px;
  color: var(--cs-light);
  font: var(--cs-font);
  letter-spacing: 0.015em;
}
.cs-dark-dropdown .ember-power-select-option[aria-current="true"] {
  background-color: var(--cs-foreground);
}
.cs-dark-dropdown .ember-power-select-option[aria-selected="true"] {
  background: url('images/checkmark.svg') 10px center/10px no-repeat;
  background-color: var(--cs-foreground);
}

/* Search */
.cs-dark-dropdown .ember-power-select-search .ember-power-select-search-input:focus {
  border-bottom: 1px solid var(--cs-default);
  outline: 0;
}
