#ember-basic-dropdown-wormhole, .ember-basic-dropdown-content--in-place {

  .ember-power-select-search {
    padding: 0 20px;
  }

  .ember-power-select-option--search-message {
    display: none;
  }

  .ember-power-select-search-input {
    border: none;
    outline: none;
    background: $lighter-gray;
    padding: 4px;
    height: 32px;
  }

  .ember-power-select-dropdown {
    border: none;
  }

  .ember-power-select-options {
    margin-top: 11px;
    background: $lighter-gray;
    border: 1px solid $border-gray;
    border-top: none;
    border-radius: 0;
  }

  .ember-power-select-option {
    padding: 6px 20px;
    border-bottom: 1px solid $border-gray;
    font-size: 13px;

    &[aria-current=true] {
      background: $gray;
    }
  }

  .ember-basic-dropdown-content, &.ember-basic-dropdown-content {
    background: transparent;
  }

}

.ember-basic-dropdown-content--in-place {
  top: 0;

  .ember-power-select-options {
    border: none;
    margin-top: 6px;
  }
}