// base unchanging styles like typography go here

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}