// base unchanging styles like typography go here

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}


html {
  font-family: var(--cs-root-font-family);
  font-size: var(--cs-root-font-size);
  color: var(--cs-root-color);
}

// Section title
h2 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
}

// Headline for each form section
h3,
legend {
  font-size: var(--cs-root-legend-font-size);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
  text-align: left;
}

// Body text
p {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 19px;
  text-align: left;
}
