@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/@cardstack/ui-components/fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}