:root {
  /* Root CSS custom properties */
  --cs-font-family: "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --cs-font: 400 13px/18px var(--cs-font-family);
  --cs-font-semibold: 600 13px/18px var(--cs-font-family);
  --cs-small-font: 400 11px/15px var(--cs-font-family);
  --cs-letter-spacing: 0.035em;
  --cs-small-spacing: 0.015em;
  --cs-transition-time: 250ms;
  --cs-field-radius: 5px;
  --cs-field-height: 40px;
  --cs-textarea-height: 80px;

  /* Cardstack color palette */
  --cs-navy: #281e78;
  --cs-blue: #0069f9;
  --cs-purple: #6638ff;
  --cs-fuschia: #ac00ff;
  --cs-lilac: #a66dfa;
  --cs-cyan: #00ebe5;
  --cs-darker-cyan: #00b0ad;
  --cs-green: #37eb77;
  --cs-yellow: #c3fc33;

  /* Common */
  --cs-highlight: var(--cs-cyan);
  --cs-highlight-hover: var(--cs-darker-cyan);
  --cs-error: #ff0000;
  --cs-success: var(--cs-green);

  /* UI Components on Light Background */
  --cs-field-default: #fff;                  /* Default background */
  --cs-field-hover: #f7f7f7;                 /* Focus and hover background */
  --cs-field-text: #000;                     /* Input text */
  --cs-field-label: #404040;                 /* Label, required label, helper text */
  --cs-field-placeholder: #757575;           /* Placeholder text */
  --cs-field-disabled-text: #afafb7;         /* Disabled text */
  --cs-field-border: #afafb7;                /* Field border */
  --cs-field-disabled-border: #e3e3e3;       /* Disabled field border */

  /* UI Components on Dark Background */
  --cs-dark-field-default: #2e2d38;           /* Default background */
  --cs-dark-field-hover: #272330;             /* Hover background */
  --cs-dark-field-disabled: #393642;          /* Disabled background */
  --cs-dark-field-text: #fff;                 /* Input text */
  --cs-dark-field-label: #cfcfd2;             /* Label, required label, helper text */
  --cs-dark-field-placeholder: #97969c;       /* Placeholder text */
  --cs-dark-field-disabled-text: #6b6971;     /* Disabled text */
  --cs-dark-field-error: #ff5757;             /* Error text */

  /* Dropdown Component on Dark Background */
  --cs-dark-dropdown: #5a586a;                 /* Dark mode dropdown background */
  --cs-dark-dropdown-hover: #434050;           /* Dark mode dropdown hover background */
  --cs-dark-dropdown-border: var(--cs-dark-field-default);

  /* Checkbox Component on Dark Background */
  --cs-dark-checkbox: #5a586a;                 /* Dark mode checkbox background */
  --cs-dark-checkbox-hover: #434050;           /* Dark mode checkbox hover background */
  --cs-dark-checkbox-border: var(--cs-dark-field-default);

  /* Buttons */
  --cs-button-radius: 100px;
  --cs-button-width: 125px;
  --cs-button-height: 32px;
  --cs-button-primary-width: 140px;
  --cs-button-primary-height: 40px;

  /* Button Component on Light Background */
  --cs-button-default: var(--cs-dark-field-default);
  --cs-button-text: var(--cs-dark-field-text);
  --cs-button-border: transparent;
  --cs-button-hover: #000;
  --cs-button-disabled: var(--cs-dark-field-disabled);
  --cs-button-disabled-text: var(--cs-dark-field-disabled-text);
  /* Secondary Button */
  --cs-secondary-button-default: transparent;
  --cs-secondary-button-text: #000;
  --cs-secondary-button-border: var(--cs-field-border);
  --cs-secondary-button-hover: #000;
  --cs-secondary-button-disabled-text: var(--cs-field-disabled-text);
  --cs-secondary-button-disabled-border: var(--cs-field-disabled-border);

  /* Dark Background */
  --cs-dark-secondary-button-text: #fff;
  --cs-dark-secondary-button-hover: #fff;
  --cs-dark-secondary-button-border: rgba(255, 255, 255, 0.25);

  /* Primary Button */
  --cs-primary-button-default: var(--cs-cyan);
  --cs-primary-button-text: #000;
  --cs-primary-button-hover: var(--cs-darker-cyan);

  /* Secondary Primary Button */
  --cs-secondary-primary-default: var(--cs-button-default);
  --cs-secondary-primary-text: var(--cs-cyan);
  --cs-secondary-primary-border: #5b596e;
  --cs-secondary-primary-hover: var(--cs-dark-field-hover);
}
