// Color palette
$lighter-gray: #f5f5f5;
$light-gray-e8: #e8e8e8;
$light-gray: #c1c1c1;
$gray: #5d5d5d;
$dark-gray: #222;
$dark-gray-op10: rgba($dark-gray, 0.1);
$dark-gray-op20: rgba($dark-gray, 0.2);
$dark-gray-op30: rgba($dark-gray, 0.3);
$dark-gray-op40: rgba($dark-gray, 0.4);
$dark-gray-op50: rgba($dark-gray, 0.5);
$dark-gray-op60: rgba($dark-gray, 0.6);
$border-gray: #707070;
$gray-70: #707070;
$purple: #6a3ca3;
$green: #58c949;
$pink: #ff5c5c;
$light-blue: rgb(59, 153, 252);

// Theme color palette (cs-theme)
$cs-theme-light-gray: #6f6f6f;
$cs-theme-gray: #4d4d4d;
$cs-theme-light-purple: #9f98bd;
$cs-theme-purple: #343356;
$cs-theme-green: green;
$cs-theme-red: red;

// Global CSS for all ui-components
:root {
  // Component text
  --cs-component-color: #{$dark-gray};
  --cs-component-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  --cs-component-font-size: 16px;
  --cs-component-font-weight: 400;
  --cs-component-letter-spacing: 0;
  --cs-component-line-height: 1.3;

  // Component background
  --cs-component-background-color: #{$lighter-gray};
  --cs-component-background-highlight-color: #{$light-gray-e8}; // active state (hover, focus, etc.)

  // Sizing
  --cs-component-max-width: 100%;
  --cs-component-height: 60px;

  // Spacing
  --cs-component-padding-horizontal: 15px;
  --cs-component-padding-vertical: 20px;

  // Borders
  --cs-component-border-color: #{$border-gray};
  --cs-component-border-radius: 2px;

  // Box-shadow
  --cs-component-box-shadow: none;

  // Legend
  --cs-component-legend-font-size: 20px;

  // Labels
  --cs-component-label-color: #{$gray};
  --cs-component-label-highlight-color: #{$purple}; // active state (hover, focus, etc.)

  // Selection
  --cs-component-selected-color: #{$gray-70};

  // Disabled state
  // --cs-component-disabled-color: TBD
  // --cs-component-disabled-background-color: TBD

  // Validation
  --cs-component-valid: #{$green};
  --cs-component-invalid: #{$pink};

  // A11y-related
  --cs-component-outline-color: #{$light-blue};
}
