// variables like color palette go here
$lighter-gray: #f5f5f5;
$light-gray: #c1c1c1;
$gray: #5d5d5d;
$dark-gray: #222;
$dark-gray-op30: rgba($dark-gray, 0.3);
$dark-gray-op60: rgba($dark-gray, 0.6);
$border-gray: #707070;
$purple: #6a3ca3;
$green: #58c949;
$pink: #ff5c5c;
$light-blue: rgb(59, 153, 252);


// global properties
// never change these directly: set them to local variables or set theme properties
:root {
  // font
  --cs-input-font-family: var(--theme-font-family, 'Open Sans', Arial, Helvetica, sans-serif);
  --cs-input-font-size: var(--theme-input-font-size, 16px);
  --cs-input-legend-font-size: var(--theme-input-legend-font-size, 20px);

  // copy, background, borders, labels
  --cs-input-background: var(--theme-input-background, #{$lighter-gray});
  --cs-input-background-hover: var(--theme-input-background, #{$light-gray});
  --cs-input-border: var(--theme-input-border, #{$border-gray});
  --cs-input-border-radius: var(--theme-input-border-radius, 2px);
  --cs-input-copy: var(--theme-input-copy, #{$dark-gray});
  --cs-input-copy-op60: var(--theme-input-copy-op60, #{$dark-gray-op60});
  --cs-input-selected: var(--theme-input-selected, #{$gray});
  --cs-input-label: var(--theme-input-label, #{$gray});
  --cs-input-label-focus: var(--theme-input-label-focus, #{$purple});
  --cs-input-label-optional: var(--theme-input-label-optional, #{$gray});
  --cs-input-outline-color: var(--theme-input-outline-color, #{$light-blue});

  // spacing
  --cs-input-padding-horizontal: var(--theme-input-padding-horizontal, 15px);
  --cs-input-padding-vertical: var(--theme-input-padding-vertical, 20px);

  // validation
  --cs-input-valid: var(--theme-input-valid, #{$green});
  --cs-input-invalid: var(--theme-input-invalid, #{$pink});
}
