<div class="toggle-view-mode">
  <div class="row">
    {{input id="in-view-mode" type="checkbox" checked=viewMode}}
    <label for="in-view-mode">Toggle View mode</label>
  </div>

  <div class="row">
    {{input id="show-label-in-view-mode" type="checkbox" checked=showLabelInViewMode}}
    <label for="show-label-in-view-mode">Toggle show label in view mode</label>
  </div>
</div>