<div class="toggle-view-mode">
  <div class="row">
    {{input id=(concat "in-view-mode-" @name) type="checkbox" checked=viewMode}}
    <label for={{concat "in-view-mode-" @name}}>Toggle View mode</label>
  </div>

  <div class="row">
    {{input id=(concat "show-label-in-view-mode-" @name) type="checkbox" checked=showLabelInViewMode}}
    <label for={{concat "show-label-in-view-mode-" @name}}>Toggle show label in view mode</label>
  </div>
</div>