// TODO This should be imported somewhere in the addon
@import "ember-power-select";

.FreestyleGuide {
  .hljs-deletion, .hljs-string, .hljs-built_in, .hljs-builtin-name {
    color: white;
  }

  .hljs-comment {
    color: #bcf2bc;
  }

  .FreestyleMenu-itemLink.active {
    color: #005a66;
  }
}
