@import 'examples.css';

.dummy-app {
  font-family: "Open Sans";
  font-size: 16px;
}

.FreestyleGuide .hljs-deletion, .FreestyleGuide .hljs-string, .FreestyleGuide .hljs-built_in, .FreestyleGuide .hljs-builtin-name, .FreestyleGuide .hljs-meta {
  color: white;
}
.FreestyleGuide .hljs-comment {
  color: #bcf2bc;
}
.FreestyleGuide .FreestyleMenu-itemLink.active,
.FreestyleCollection-variantListItem--active {
  color: #005a66;
}

.application-nav ul {
  margin-bottom: 30px;
  padding: 0;
}

.application-nav ul li {
  display: inline-block;
}

.application-nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
}

.application-nav ul li a.active {
  background-color: #eee;
  border-bottom: solid 1px black;
}

.toggle-view-mode {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 1px 1px 2px #ccc;
}

.dark-mode {
  background-color: var(--cs-default);
  color: var(--cs-light);
}
