// TODO This should be imported somewhere in the addon
@import "ember-power-select";

.FreestyleGuide {
  .hljs-deletion, .hljs-string, .hljs-built_in, .hljs-builtin-name {
    color: white;
  }

  .hljs-comment {
    color: #bcf2bc;
  }

  .FreestyleMenu-itemLink.active {
    color: #005a66;
  }
}

/* visual testing for theme changes */
// :root {
//   --theme-input-font-size: 18px;

//   --theme-input-background: #fff;
//   --theme-input-border-radius: 10px;
//   --theme-input-border: #707070;
//   --theme-input-copy: #6f6f6f;
//   --theme-input-label: #9f98bd;
//   --theme-input-label-optional: #000;

//   --theme-input-valid: green;
//   --theme-input-invalid: #ff0000;
// }
