@import 'component-configurator';

.example-group {
  position: relative;
  max-width: 565px;
  padding: 30px;
  border: solid 1px #707070;
  background-color: white;
}

.example-group--title {
  position: absolute;
  top: -20px;
  left: 10px;
  margin: 0;
  padding: 10px;
  background-color: inherit;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
}

.example-group--prompt {
  padding-bottom: 1em;

  h3 {
    margin: 0;
    padding-bottom: 1em;

    font-size: var(--cs-component-legend-font-size);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    text-align: left;
  }

  p {
    margin: 0;
    padding-bottom: 1em;

    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 19px;
    text-align: left;
  }
}

.example-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-auto-flow: row;
}

.example-form .cs-component-choose-one--label {
  width: 130px;
}

.example-form .cs-component-choose-contact-type {
  margin-top: -15px;
}

.example-form .cs-component-choose-contact-type .cs-component-choose-one--label {
  width: auto;
}

.example {
  padding-top: 60px;
  padding-left: 60px;
  border-left: 1px solid #707070;
}

.examples {
  display: flex;
  direction: row;
  margin-top: 30px;
  border-top: 1px solid #707070;
}

.examples nav {
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 30px;
  height: 100vh;
}

.examples nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.examples nav ul li {
  line-height: 30px;
}
