.ui-components-example-group {
  position: relative;
  max-width: 565px;
  padding: 30px;
  border: solid 1px #707070;
  background-color: white;
}

.ui-components-example-group--title {
  position: absolute;
  top: -20px;
  left: 10px;
  margin: 0;
  padding: 10px;

  background-color: inherit;
  color: #222;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 17px;
  text-transform: uppercase;
}

.ui-components-example-group--prompt {
  padding-bottom: 1em;

  h3 {
    margin: 0;
    padding-bottom: 1em;
    color: #222;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
  }

  p {
    margin: 0;
    padding-bottom: 1em;
    color: #222;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
  }
}

.ui-components-example-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-auto-flow: row;
}

.ui-components-example-form .cs-component-choose-one--label {
  width: 130px;
}

.ui-components-example {
  margin-left: 60px;
}
