.cs-component-dropdown {
  --cs-dropdown-height: 40px;
  --cs-dropdown-background-color: var(--cs-light);
  --cs-dropdown-border-color: var(--cs-dark-op25);
  --cs-dropdown-selected-color: #f2f2f4;

  width: 100%;
  color: var(--cs-dark);
  font: 400 16px/22px var(--cs-font-family);
  letter-spacing: 0;
}
.cs-component-dropdown > .cs-dropdown--label {
  color: var(--cs-dark-op75);
  font: 400 13px/18px var(--cs-font-family);
  letter-spacing: 0.035em;
  text-transform: capitalize;
}
.cs-component-dropdown > .cs-dropdown--required {
  color: var(--cs-dark-op75);
  font: 400 13px/18px var(--cs-font-family);
  letter-spacing: 0.035em;
  text-transform: lowercase;
}

/* Utility classes */
.cs-component-dropdown .lightweight {
  font-weight: 100;
}
.cs-component-dropdown .caps {
  text-transform: uppercase;
}

/* Dropdown trigger */
.cs-component-dropdown .ember-power-select-trigger {
  height: var(--cs-dropdown-height);
  padding: 0 45px 0 15px;
  background-color: var(--cs-dropdown-background-color);
  border: 1px solid var(--cs-dropdown-border-color);
  border-radius: 5px;
}
.cs--component-dropdown .ember-power-select-selected-item,
.cs--component-dropdown .ember-power-select-placeholder {
  color: var(--cs-dark);
  font: 400 16px/22px var(--cs-font-family);
  letter-spacing: 0;
}
.cs-component-dropdown .ember-power-select-placeholder {
  color: var(--cs-dark-op50);
}
.cs-component-dropdown:not(.disabled) .ember-power-select-trigger:focus,
.cs-component-dropdown:not(.disabled) .ember-power-select-trigger--active {
  border: 1px solid var(--cs-dropdown-border-color);
  outline: 0;
}
.cs-component-dropdown.disabled .ember-power-select-selected-item,
.cs-component-dropdown.disabled .ember-power-select-placeholder {
  color: var(--cs-dark-op25);
}
.cs-component-dropdown .ember-power-select-status-icon {
  right: 15px;
  width: 10px;
  height: var(--cs-dropdown-height);
  background: url('images/dropdown-arrows.svg') center/10px no-repeat;
  border: none;
}
.cs-component-dropdown.disabled .ember-power-select-status-icon {
  background-image: none;
}

/* Dropdown menu and options */
.cs-component-dropdown .ember-power-select-trigger[aria-expanded="true"],
.cs-component-dropdown .ember-basic-dropdown-trigger--below.ember-power-select-trigger[aria-expanded="true"],
.cs-component-dropdown .ember-basic-dropdown-trigger--in-place.ember-power-select-trigger[aria-expanded="true"],
.cs-component-dropdown .ember-power-select-dropdown,
.cs-component-dropdown .ember-power-select-dropdown.ember-basic-dropdown-content--below,
.cs-component-dropdown .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  border: 1px solid var(--cs-dropdown-border-color);
  border-radius: 5px;
}
.cs-component-dropdown .ember-power-select-option {
  padding: 10px 15px 10px 30px;
  color: var(--cs-dark);
  font: 400 16px/22px var(--cs-font-family);
  letter-spacing: 0;
}
.cs-component-dropdown .ember-power-select-option[aria-current=true] {
  background-color: var(--cs-dropdown-selected-color);
}
.cs-component-dropdown .ember-power-select-option[aria-selected="true"] {
  background: url('images/checkmark.svg') 10px center/10px no-repeat;
  background-color: var(--cs-dropdown-selected-color);
  color: var(--cs-dark);
}

/* Search */
.cs-component-dropdown .ember-power-select-search .ember-power-select-search-input:focus {
  border-bottom: 1px solid var(--cs-dropdown-border-color);
  outline: 0;
}


/* Multi-select Dropdown */
.cs-component-dropdown.multiple .ember-power-select-dropdown,
.cs-component-dropdown.multiple .ember-power-select-dropdown.ember-basic-dropdown-content--below,
.cs-component-dropdown.multiple .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  top: auto;
  background-color: var(--cs-dropdown-background-color);
  border: 1px solid var(--cs-dropdown-border-color);
  border-radius: 5px;
}
.cs-component-dropdown.multiple .ember-power-select-trigger-multiple-input {
  visibility: collapse;
  height: 0;
}
.cs-component-dropdown .ember-power-select-multiple-trigger {
  padding: 25px 45px 0 15px;
}
.cs-component-dropdown .ember-power-select-multiple-options {
  height: calc(var(--cs-dropdown-height) - 25px);
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cs-component-dropdown .ember-power-select-multiple-option {
  padding: 0 10px;
  color: var(--cs-dark-op75);
  background-color: var(--cs-light);
  border: 1px solid var(--cs-dropdown-border-color);
  border-radius: 20px;
  font: 400 16px/22px var(--cs-font-family);
  letter-spacing: 0;
}
.cs-component-dropdown .ember-power-select-multiple-option:hover {
  background-color: var(--cs-dropdown-selected-color);
}


/* Custom Options */
.cs-component-dropdown.with-customized-options .ember-power-select-selected-item,
.cs-component-dropdown.with-customized-options .ember-power-select-option {
  width: 100%;
  height: calc(var(--cs-dropdown-height) - 25px);
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cs-component-dropdown.with-customized-options .ember-power-select-option {
  height: var(--cs-dropdown-height);
}
