.cs-component-input-group {
  --cs-text-field-height: 76px;

  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: var(--cs-text-field-height);
  padding: 8px 13px 18px;
  background-color: var(--cs-light);
  border: 1px solid var(--cs-field-border);
  border-radius: 5px;
  color: var(--cs-field-text);
  font: 400 16px/22px var(--cs-font-family);
  letter-spacing: 0;
  overflow: hidden;

  transition: border-color var(--cs-transition-time);
}

.cs-component-input-group > .cs-input-group--label {
  display: block;
  padding-bottom: 13px;
  color: var(--cs-field-label);
  font: 400 11px/15px var(--cs-font-family);
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;

  transition: color var(--cs-transition-time);
}

.cs-component-input-group > .cs-input-group--required {
  position: absolute;
  right: 13px;
  top: 8px;
  display: block;
  color: var(--cs-field-label);
  font: 400 11px/15px var(--cs-font-family);
  letter-spacing: 0;
  text-transform: lowercase;
}

.cs-component-input-group > .cs-input-group--helper-text {
  height: 15px;
  display: block;
  color: var(--cs-field-label);
  font: 400 11px/15px var(--cs-font-family);
  letter-spacing: 0.035em;
  text-transform: initial;

  transition: color var(--cs-transition-time);
}

.cs-component-input-group > .cs-input-group--helper-text.invalid {
  color: var(--cs-alert);
}

.cs-component-input {
  display: block;
  width: 100%;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  color: var(--cs-field-text);
  font: 400 16px/22px var(--cs-font-family);
  letter-spacing: 0;
}

.cs-component-input:focus {
  outline: 0;
}

.cs-component-input-group:focus-within {
  border-color: var(--cs-highlight);
}

.cs-component-input-group:focus-within .cs-input-group--label {
  color: var(--cs-field-text);
}
