<div type={{@type}}>
  {{one-way-date-mask
    @value
    options=this.options
    update=(action this.update)
    onblur=@onblur
    onchange=@onchange
    oninput=@oninput
    class=@class
  }}
</div>