<section class="example-group">
  <h2 class="example-group--title">Contact Info</h2>

  <div class="example-group--prompt">
    <h3>How would you like to correspond with others?</h3>
    <p>
      This information will not be shared with others, we will provide a proxy when needed.
      This is how the correspondence will reach you on your end.
    </p>
  </div>

  <form class="example-form contact-info">
    <TextField @label="Please enter your full name" @required={{true}} />
    <PhoneNumberField />
    <Email @label="Email" @required={{true}} />
    <StreetAddress @label="Mailing address" />
    <Cta>Submit</Cta>
  </form>
</section>