<h2>Cardstack Registration</h2>

<h3>Please fill out this simple form to register for Cardstack</h3>

<div class="registration-form">
  <TextField @label="Full Name" @required={{true}} />
  <StreetAddress @label="Street Address" />
  <Email @label="Email" @required={{true}} />
  <Cta>Submit</Cta>
</div>