<div class="cs-component-dropdown__container">
  {{#power-select
    options=options
    onchange=(action (mut selectedOption))
    selected=selectedOption
    searchField="name"
    id=(concat elementId '-dropdown')
    as |option|}}
    {{option.name}}
  {{/power-select}}
  <label class={{if selectedOption 'with-option-selected'}} for={{concat elementId '-dropdown'}}>Select Your Favorite Pizza Topping</label>
</div>