{{#unless required}}
  <span class="cs-component-text-field__optional">Optional</span>
{{/unless}}
{{phone-number-field/input
  class="cs-component-text-field__input"
  required=required
}}
<label for={{inputId}}><span>{{label}}</span></label>