<div class="cs-component-street-address__container">
  <Dropdown
    @options={{predictions}}
    @searchAction={{action "requestPredictions"}}
    @searchField="description"
    @label={{label}}
  />
</div>