{{#unless required}}
  <span class="cs-component-text-field__optional">Optional</span>
{{/unless}}
<input type="text" name="name" class="cs-component-text-field__input" id={{inputId}} required autocomplete="off">
<label for={{inputId}}><span>{{label}}</span></label>