<div class="dummy-app">
  <nav class="application-nav" aria-labelledby="app-title">
    <h1 id="app-title">Cardstack UI Components</h1>
    <ul>
      <li>{{#link-to "freestyle"}}Living Style Guide{{/link-to}}</li>
      <li>{{#link-to "examples"}}Examples{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}
</div>