<main class="ui-components-examples">
  <nav>
    <ul>
      <li>{{#link-to "examples.registration"}}Registration{{/link-to}}</li>
      <li>{{#link-to "examples.contact-info"}}Contact Info{{/link-to}}</li>
    </ul>
  </nav>
  <article class="ui-components-example">
    {{outlet}}
  </article>
</main>