.cs-multi-item-list {
  position: relative;
  width: 100%;
  max-width: var(--cs-component-width);
}

.cs-multi-item-list + .cs-multi-item-list {
  margin-top: 10px;
}

.cs-multi-item-list .cs-multi-item-list--add {
  position: absolute;
  top: 25px;
  right: -25px;
  border: none;
  text-indent: -9999px;
  background: url(images/icon-plus.svg) no-repeat center center;
  width: 22px;
  height: 22px;
  cursor: pointer;
  outline: none;
}
